.header {
    width: 100%;
    height: 55px;
    background-color: var(--gray);
    color: var(--white);

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header span {
    font-size: 1.5rem; 
    font-weight: bold;
}

.header a {
    text-decoration: none;
    color: var(--white);
    padding-right: 1.5rem;
    font-size: 1.125rem; 
}

.header a:hover {
    color: var(--blue);
}

.logo{
    margin-top: 5%;
}

@media screen and (max-width: 1024px) {
    .header {
        padding: 0 5%;
    }

    .header span {
        font-size: 1.25rem;
    }

    .header a {
        font-size: 1rem;
        padding-right: 1rem;
    }

    .logo {
        margin-top: 0;
        max-width: 120px; 
    }
}


@media screen and (max-width: 768px) {
    .header {
        justify-content: space-between;
        padding: 10px;
    }
    nav{
        display: flex;
    }
    .header span {
        font-size: 18px;
    }

    .header a {
        font-size: 16px !important;
        padding: 0.5rem;
    }

    .logo {
        max-width: 100px;
    }
}


@media screen and (max-width: 480px) {
    .header {
        flex-direction: column;
        height: auto;
        padding: 10px 0;
        text-align: center;
    }

    .header span {
        font-size: 15px;
        margin-bottom: 5px;
    }

    .header a {
        font-size: 0.875rem;
        padding: 5px;
        display: block; 
    }

    .logo {
        max-width: 80px;
    }
}